<% include ./partials/header %>

<div id='index' class="container text-center col-sm-7 col-md-5 col-lg-6">   
    <% users.forEach(function(user){ %>
        
        <ul class="list-group list-group-horizontal-sm">
            <li class='list-group-item flex-fill'>
                <%= user.firstName %>
            </li>
            <li class='list-group-item flex-fill'>
                <%= user.number %> people
            </li>    
            <li class='list-group-item flex-fill'>
                #number: <%= user.phone %> 
            </li>
            <li class='list-group-item flex-fill'>
                note: <%= user.note %>
            </li>
        </ul>
        <footer class='blockquote-footer'>
            <%= user.created.toDateString() %>
            <%= moment(user.createdAt).fromNow() %>
        </footer>
        
        <div class='container d-flex'>
            <a class='btn btn-outline-success btn-md' href='/users/<%= user._id %>'>Send SMS</a>
            <form id="delete" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                <button class='btn btn-outline-danger btn-md'>Delete</button>
            </form>
        </div>
        <hr></hr>       
    <% }) %>    
</div>

<% include ./partials/footer %>