<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>yourTable App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Raleway">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body class="landing">
        <div id="top" class="ui large secondary inverted pointing menu">
            <div class="ui container">
                <a class="item" href="/">Home</a>
                <a class="active item" href="/users">Customer list</a>
                <a class="item">About us</a>
                <a class="item">Careers</a>
                <div class="right menu">
                    <div class="item">
                        <a class="ui inverted button">Log in</a>
                    </div>
                    <div class="item">
                        <a id="left" class="ui inverted primary button">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>

<div class="ui inverted main text container">
    <div class="ui inverted top attached segment">
        <div class="ui divided items">
            <% users.forEach(function(user){ %>
                <div class=<"item">
                    <div class="content">
                        <!--<a class="header" href="/users/<%= user._id %><%= user.number %>"></a>-->
                        <div class="info">
                            <%= user.firstName %>
                            have <strong><%= user.number %></strong> people
                        </div>
                        <div class="description">
                            phone: <%= user.phone %>
                            <%= user.note %>
                        </div>
                         <div class="meta">
                            <span><%= user.created.toDateString() %></span>
                            <span> <%= moment(user.createdAt).fromNow() %></span>
                            <!--add moment-->
                        </div>
                        <div class="ui form">
                            <div class="fields">
                                <div class="field">
                                     <a class="ui inverted primary button" href="/users/<%= user._id %>">
                                    Send SMS
                                    <i class="right small chevron icon"></i>
                                </a>
                                </div>
                                <div class="fields">
                                    <form id="delete" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                                    <button class="ui inverted red button">Delete</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>    
        </div>
    </div>
</div>

<% include ./partials/footer %>